body {
  background: url(https://images.alphacoders.com/150/150823.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.main {
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.All {
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 10px;
	border: 1px solid #000;
	background-color: rgba(245, 245, 245, 0.4);
  border-radius: 4px;
  box-shadow:
  0px 0px 1px rgba(255,255,255,0.8) inset,
  5px 5px 5px rgba(0,0,0,0.4);
}

.inputData {
  text-align: center;
  margin: 5px 0px 5px 0px;

}

.chatBox {
	width: 90%;
  height: 290px;
	margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inputMessage {
	text-align: center;
	margin: 10px 0px 0px 0px;
  opacity: 1;
}

.Redactor {
	text-align: center;
	margin-bottom: 10px;
}

.todo-button {
 	padding: 6px 16px 7px 16px;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: #6383a8;
  color: #FFF;
  border: 0;
  border-radius: 2px;
}

.todo-button:hover{
	box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.todo-button:active {
  box-shadow:
 0px 0px 1px rgba(0,0,0,0.8) inset,
 3px 3px 3px rgba(0,0,0,0.8);
}

.todo-input {	
	height: 16px;
	width: 50%;
  padding: 4px 6px;
  font-size: 11px;
  display: inline-block;
  line-height: 20px;
  outline: none;
  color: #555555;  
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.Serega {
	text-align: left;
	padding-left: 1%;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
  font-weight: 600;
  clear: both;
}

.Sasha {
	text-align: right;
	padding-right: 1%;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
  font-weight: 600;	
  clear: both;
}

.myMess {
	text-align: left;
  padding: 8px;
  border: 1px solid #6383a8;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 1%;
  width: 30%;
  background-color: #6383a8;
  color: #FFF;
  word-wrap: break-word;
  float: right;
  clear: both;
}

.myDeletedMessage {
  text-align: left;
  padding: 8px;
  border: 1px solid #FFE4C4;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30%;
  margin-right: 1%;
  background-color: #FFE4C4;
  color: #F4A460;
  word-wrap: break-word;
  float: right;
  clear: both;
}

.userMessage {
	text-align: left;
	padding: 8px;
	border: 1px solid #6383a8;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1%;
  width: 30%;
  background-color: #6383a8;
  color: #FFF;
  word-wrap: break-word;
  float: left;
  clear: both;
}

.logo {
	margin-top: 10px;
	text-align: center;
}

.text {
	text-align: center;
	margin: auto;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
}

.top {
	text-align: center;
  margin: auto;
  width: 70%;
}

.img {
  border-radius: 100px;
  height: 70px;
  width: 70px;
}

.bot {
  text-align: center;
  margin: auto;
  width: 70%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece{
  background-color: #ffffff;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical{
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 5px;
}

.galBut {
  width: 20px;
  height: 20px;
  background: url("http://1.bp.blogspot.com/-UUXyD4MjRNM/VCgS7seFPvI/AAAAAAAADZE/JVjkRw5IBkw/s1600/%D0%B3%D0%B0%D0%BB%D0%BE%D1%87%D0%BA%D0%B0%2B%D0%B2%D0%B5%D1%80%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D0%B8%2B%D0%B2%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D0%B5.png") center;
  border-radius: 10px ;
  border: 0;
  cursor: pointer;
  outline: none;
}

.galBut:hover{
  box-shadow:
  0px 3px 3px rgba(255,255,255,0.8) inset,
  1px 3px 3px rgba(0,0,0,0.4);
}

.galBut:active {
  box-shadow:
  0px 0px 1px rgba(0,0,0,0.8) inset,
  3px 3px 3px rgba(0,0,0,0.8);
}

.gal {
  float: right;
  padding-left: 8px;
}



