body {
  background: url(https://images.alphacoders.com/150/150823.jpg);
  background-size: cover;
}

.All {
	text-align: center;
	width: 700px;
	height: 435px;
	margin: auto;
	padding: 10px;
	border: 1px solid #000;
	background-color: rgba(245, 245, 245, 0.4);
  border-radius: 4px;
  
}

.inputData {
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.chatBox {
	text-align: center;
	width: 600px;
	height: 360px;
	margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.inputMessage {
	text-align: center;
	margin: 10px 0px 0px 0px;
  opacity: 1;
}

.Redactor {
	text-align: center;
	margin-bottom: 10px;
}

.todo-button {
 	padding: 6px 16px 7px 16px;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: #6383a8;
  color: #FFF;
  border: 0;
  border-radius: 2px;
}

.todo-button:hover{
	box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.todo-input {	
	height: 16px;
	width: 340px;
  padding: 4px 6px;
  font-size: 11px;
  display: inline-block;
  line-height: 20px;
  outline: none;
  color: #555555;  
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.Serega {
	text-align: left;
	padding-left: 10px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
  font-weight: 600;
}

.Sasha {
	text-align: right;
	padding-right: 10px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
  font-weight: 600;	
}

.myMessage {
	text-align: right;
	padding: 10px;
	border: 1px solid #6383a8;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin: 10px;
  width: 30%;
  left: 390px; 
  margin-left: 390px;
  background-color: #6383a8;
  color: #FFF;
}

.userMessage {
	text-align: left;
	padding: 10px;
	border: 1px solid #6383a8;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin: 10px;
  width: 30%;
  background-color: #6383a8;
  color: #FFF;
}

.myDeletedMessage {
	text-align: right;
	padding: 10px;
	border: 1px solid #FFE4C4;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin: 10px;
  width: 30%;
  left: 390px; 
  margin-left: 390px;
  background-color: #FFE4C4;
  color: #F4A460;
}

.logo {
	margin-top: 10px;
	text-align: center;
}

.text {
	text-align: center;
	margin: auto;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
}

.top {
	text-align: center;
}

.img {
  border-radius: 100px;
  height: 70px;
  width: 70px;
}