body {
  background: url(https://images.alphacoders.com/150/150823.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.main {
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.All {
	width: 50%;
	margin: auto;
	padding: 10px;
	border: 1px solid #000;
	background-color: rgba(245, 245, 245, 0.4);
  border-radius: 4px;
  box-shadow:
  0px 0px 1px rgba(255,255,255,0.8) inset,
  5px 5px 5px rgba(0,0,0,0.4);
}

.inputData {
  text-align: center;
  margin: 5px 0px 5px 0px;

}

.chatBox {
	width: 90%;
  height: 290px;
	margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inputMessage {
	text-align: center;
	margin: 10px 0px 0px 0px;
  opacity: 1;
}

#addButton {
 	padding: 6px 16px 7px 16px;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: #6383a8;
  color: #FFF;
  border: 0;
  border-radius: 2px;
}

#addButton:hover{
	box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

#addButton:active {
  box-shadow:
 0px 0px 1px rgba(0,0,0,0.8) inset,
 3px 3px 3px rgba(0,0,0,0.8);
}

#addButtonChange {
  padding: 6px 16px 7px 16px;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: #6383a8;
  color: #FFF;
  border: 0;
  border-radius: 2px;
}

#addButtonChange:hover{
  box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

#addButtonChange:active {
  box-shadow:
 0px 0px 1px rgba(0,0,0,0.8) inset,
 3px 3px 3px rgba(0,0,0,0.8);
}

.todo-input {	
	height: 16px;
	width: 50%;
  padding: 4px 6px;
  font-size: 11px;
  display: inline-block;
  line-height: 20px;
  outline: none;
  color: #555555;  
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}


.myName {
	padding-left: 1%;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
  font-weight: 900;	
  clear: both;
}


.myDeletedMessage {
  text-align: left;
  padding: 8px;
  border: 1px solid #FFE4C4;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30%;
  margin-left: 1%;
  background-color: #FFE4C4;
  color: #F4A460;
  word-wrap: break-word;
  float: left;
  clear: both;
}

.logo {
	margin-top: 10px;
	text-align: center;
}

.text {
	text-align: center;
	margin: auto;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 15px;
	color: #4682B4;
}

.top {
	text-align: center;
  margin: auto;
  width: 70%;
}

.img {
  border-radius: 100px;
  height: 70px;
  width: 70px;
}

.bot {
  margin-top: 3%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece{
  background-color: #ffffff;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical{
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 5px;
}

.delBut {
  width: 20px;
  height: 20px;
  background: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/delete.png") no-repeat center;
  background-size: 100%;
  border-radius: 10px ;
  border: 0;
  cursor: pointer;
  outline: none;
  float: right;
  padding: 8px;
  margin: 1px;
}

.delBut:hover {
  box-shadow:
 1px 1px 1px rgba(255,255,255,0.4) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.delBut:active {
 box-shadow:
 0px 0px 1px rgba(0,0,0,0.5) inset,
 3px 3px 5px rgba(0,0,0,0.5);
}


.redBut {
  width: 20px;
  height: 20px;
  background: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png") no-repeat center;
  background-size: 70%;
  border-radius: 10px ;
  border: 0;
  cursor: pointer;
  outline: none;
  float: right;
  padding: 8px;
  margin: 1px;
}

.redBut:hover {
  box-shadow:
 1px 1px 1px rgba(255,255,255,0.4) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.redBut:active {
 box-shadow:
 0px 0px 1px rgba(0,0,0,0.5) inset,
 3px 3px 5px rgba(0,0,0,0.5);
}

.items {
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  
}

.item {
  text-align: left;
  padding: 7px;
  border: 1px solid #6383a8;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1%;
  width: 30%;
  background-color: #6383a8;
  color: #FFF;
  word-wrap: break-word;
  float: left;
  clear: both;
}

li {
  list-style-type: none;
}

.In {
  width: 70%;
  padding: 2px 2px 2px;
  outline: none;
  color: #555555;  
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
